<html>
    <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <style>
#headingnav{
 color: rgba(0, 0, 0, 0.758);
 margin-left: 6rem;
 font-size: x-large;
}
nav{
   height: 6rem;
   background-color: rgba(243, 160, 137, 0.253);
}
.card1{
  display: grid; 
  margin-top: 5rem;
  background-color: black;
} 
 .flip-card {
  background-color: transparent;
  width: 180px;
  height: 180px;
  border-radius: 2px;
  padding: 3rem;
  margin-left: 2rem ;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
h1{
    color:rgba(243, 160, 137, 0.345) ;
} 
p{
    color:rgba(243, 160, 137, 0.345) ;
    margin: 2rem;
}
.content{
    display: flex;
}


.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: rgba(243, 160, 137, 0.253);
    color: #000000;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #000000;
    user-select: none;
}
#btn{
  margin-left: 70rem;
  margin-top: 3rem;
  background-color: white;
  color: black;
  border: 2px solid rgba(243, 160, 137, 0.345);
  width:7rem;
  height:3rem;
}
#btn2{
   background-color: white;
  color: black;
  border: 2px solid rgba(243, 160, 137, 0.345);
  width:10rem;
  height:2rem;
  margin-left: 1rem;
}
#btn:hover,#btn2:hover{
  background: #efc0c0;
  color: rgb(0, 0, 0);
}
#table{
  margin-left: 53rem;
    margin-top: 3rem;
}
</style>
    </head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>

<body>
      <nav>
     <img src="../../images/imgonline-com-ua-Negative-kQnLU8t3pC-removebg-preview.png" style="margin-left: 2rem;x" >
      <h2 id="headingnav" style="margin-top: -2rem;">SMART-BUTLER</h2>

      <div  class="alertDiv" style="display:none">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong  id="notification">Your order Sent to Kitchen</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
      </div>
           
         
    {{#each dishes}}
     <div class="flip-card">
        <h1 style="text-align: center;color:black" id="amt">355</h1>
     <h1 id="{{_id}}">{{dishname}}</h1> 
     <input type="hidden" id="ids" value="{{_id}}">
     <div class="content" style="width: 70rem;">
<img src="/images/dishimages/{{_id}}.jpg"style="width:200px;height:200px;"alt="no image">
    <p style="width:500px">{{dishdes}}</p>
    <h3 id="{{_id}}">{{dishprice}}</h3>

    <select name="{{_id}}" id="">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
<div class="counter">
  <span class="down" onClick='decreaseCount(event, this)'>-</span>
  <input type="text" name="{{_id}}" value="0">
  <span class="up" onClick='increaseCount(event, this)'>+</span>
<button id="btn2" onclick="createOrder('{{_id}}')">add</button>
     </div>  
    </div>
  </div>
  </a>
{{/each}}
<div id="table">
<h3>
  SELECT TABLE
</h3>
    <div class="counter">
  <span class="down" onClick='decreaseCount(event, this)'>-</span>
  <input type="text" name="table" value="0">
  <span class="up" onClick='increaseCount(event, this)'>+</span>

</div>

<button id="btn" onclick="finishOrder()">Finish Order</button>
</body>
<script>
function increaseCount(a,b){
  var input = b.previousElementSibling;
  var value = parseInt(input.value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  input.value = value;
}

function decreaseCount(a, b) {
  var input = b.nextElementSibling;
  var value = parseInt(input.value, 10);
  if (value > 0) {
    value = isNaN(value) ? 0 : value;
    value--;
    input.value = value;
  }
}

 let array = []
function createOrder(id){
  console.log(id)
  console.log(document.getElementById(id).value)
  let dish_id = id;
  let qty = document.getElementsByName(id)[0];
  const quantity = qty.value;
  let amount = document.getElementById(id).innerHTML;
  const selectedBox = document.getElementsByName(id)[0];
  const selectedValue = selectedBox.options[selectedBox.selectedIndex].value;
    let obj = {
        dish_id,
        quantity,
        amount,
      selectedValue
    }
    console.log(obj,"----------")
    $.post("/users/addOrde",
    obj,
  function(data,status){
    console.log(data)
    document.getElementById("amt").innerHTML = data
  })
}
function finishOrder(){
    let qty = document.getElementsByName("table")[0];
  const quantity = qty.value;
  console.log(quantity)
   $.post("/users/finishorder",
    quantity,
  function(data,status){
    console.log(data)
    document.getElementById("amt").innerHTML = data
      document.getElementById("amt").innerHTML = "your order sent to kitchen"
          
  })
}
</script></html>